#todo-form {
  text-align: center;
}
#todo-input {
  width: 300px;
  height: 30px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid white;
  color: white;
}
#todo-input:focus {
  outline: none;
}
#todo-input::placeholder {
  color: white;
}
